<div  class ="jumbotron text-center">
   <button type="submit" ng-click="retrieve_data();">Show Details</button>
   <br><br>
  
   <table align='center' border="">
       <tr>
           <th><h4><b>First Name</b></h4></th>
           <th><h4><b>Lastt Name</b></h4></th>
           <th><h4><b>Phone Number</b></h4></th>
           </tr>

           <tr ng-repeat="data in receive_data">
               <td>{{data.first_name}}</td>
               <td>{{data.last_name}}</td>
               <td>{{data.phone}}</td>
               </tr>
               </table>
            </div>